body {
    background-color: lightgrey;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin-right: 20px;
}

h1 {
    color: black;
}

p {
    font-size: larger;
    color: aqua;
}